@import url(https://fonts.googleapis.com/css?family=Manrope:200,300,regular,500,600,700,800);

@import url(https://fonts.googleapis.com/css?family=Montserrat:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);

@charset "UTF-8";

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 280px;
}

body {
  color: #000;
  line-height: 1;
  font-family: "Manrope";
  font-size: 1rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "Manrope";
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: inherit;
}

a {
  color: inherit;
}

a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

.lock body {
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: clip;
}

.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.wrapper > * {
  min-width: 0;
}

/*
(i) Стили будут применяться ко 
всем классам содержащим *__container
Например header__container, main__container и т.д.
Снипет (HTML): cnt
*/

[class*=__container] {
  max-width: 85rem;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  margin: 0 auto;
  padding: 0 2.5rem;
}

[class*=-ibg] {
  position: relative;
}

[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

[class*=-ibg_contain] img {
  -o-object-fit: contain;
     object-fit: contain;
}

.header {
  border-bottom: 1px solid var(--grey-300, #DEE2E6);
  background: var(--white, #FFF);
}

.header__top {
  border-bottom: 1px solid var(--grey-300, #DEE2E6);
}

.header__top-content {
  padding: 6px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__top-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: var(--grey-900, #212529);
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.header__top-info p {
  padding-left: 16px;
  margin-left: 16px;
  border-left: 1px solid rgba(134, 142, 150, 0.2274509804);
}

.btn-help {
  color: var(--blue-400, #6079C5);
  text-align: center;
  font-family: Manrope;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 120%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 8px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 4px 12px;
  border-radius: 20px;
  background: var(--grey-100, #F1F3F5);
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}

.btn-help:hover {
  color: var(--white, #FFF);
  background: var(--madison-800, #033270);
}

.btn-help svg path {
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}

.btn-help:hover svg path {
  fill: #F1F3F5;
}

.header__top-connection-language {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 60px;
}

.header__top-connection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__top-connection ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 40px;
  color: var(--grey-900, #212529);
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
  /* 16.8px */
}

.header__top-connection ul li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 8px;
}

.menu-mb__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.cpel-switcher__nav {
  color: var(--grey-600, #868E96);
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
}

.cpel-switcher__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.cpel-switcher__lang:nth-child(2) {
  padding-left: 16px;
  margin-left: 16px;
  border-left: 1px solid rgba(134, 142, 150, 0.2274509804);
}

.cpel-switcher__lang.active {
  color: var(--blue-600, #3257A0);
  font-weight: 600;
}

.burger {
  display: none;
}

.burger span {
  position: absolute;
  width: 100%;
  left: 0;
  top: 50%;
  -webkit-transform: translate(0, -50%);
      -ms-transform: translate(0, -50%);
          transform: translate(0, -50%);
  height: 1px;
  background-color: #212529;
}

.burger::after {
  content: "";
  position: absolute;
  left: 0;
  top: 4px;
  width: 100%;
  height: 1px;
  background-color: #212529;
}

.burger::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 4px;
  width: 100%;
  height: 1px;
  background-color: #212529;
}

.menu-main-menu-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 60px;
  padding: 12.5px 0;
}

@supports (gap: clamp( 1.25rem , -4.9038461538rem  +  9.6153846154vw , 3.75rem )) {
  .menu-main-menu-container {
    gap: clamp( 1.25rem , -4.9038461538rem  +  9.6153846154vw , 3.75rem );
  }
}

@supports not (gap: clamp( 1.25rem , -4.9038461538rem  +  9.6153846154vw , 3.75rem )) {
  .menu-main-menu-container {
    gap: calc(1.25rem + 2.5 * (100vw - 64rem) / 26);
  }
}

.menu-mb__header-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 15px;
  padding-top: 15px;
}

.btn-close-menu {
  display: none;
}

.menu-mb {
  display: none;
}

.menu-mb._menu-active {
  right: 0;
}

.menu-mb__header-logo .logo {
  display: none;
}

.block-logo-mb {
  margin-right: 36px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo a {
  position: relative;
  width: 140px;
  height: 37px;
  display: block;
}

@supports (width: clamp( 6.25rem , 5.4166666667rem  +  4.1666666667vw , 8.75rem )) {
  .logo a {
    width: clamp( 6.25rem , 5.4166666667rem  +  4.1666666667vw , 8.75rem );
  }
}

@supports not (width: clamp( 6.25rem , 5.4166666667rem  +  4.1666666667vw , 8.75rem )) {
  .logo a {
    width: calc(6.25rem + 2.5 * (100vw - 20rem) / 60);
  }
}

@supports (height: clamp( 1.625rem , 1.3958333333rem  +  1.1458333333vw , 2.3125rem )) {
  .logo a {
    height: clamp( 1.625rem , 1.3958333333rem  +  1.1458333333vw , 2.3125rem );
  }
}

@supports not (height: clamp( 1.625rem , 1.3958333333rem  +  1.1458333333vw , 2.3125rem )) {
  .logo a {
    height: calc(1.625rem + 0.6875 * (100vw - 20rem) / 60);
  }
}

.logo a svg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.block-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
  position: relative;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 100%;
}

.nav-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: var(--grey-900, #212529);
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 120%;
  gap: 5px 40px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@supports (font-size: clamp( 0.875rem , 0.375rem  +  0.78125vw , 1rem )) {
  .nav-menu {
    font-size: clamp( 0.875rem , 0.375rem  +  0.78125vw , 1rem );
  }
}

@supports not (font-size: clamp( 0.875rem , 0.375rem  +  0.78125vw , 1rem )) {
  .nav-menu {
    font-size: calc(0.875rem + 0.125 * (100vw - 64rem) / 16);
  }
}

@supports ((-moz-column-gap: clamp( 1.25rem , -1.8269230769rem  +  4.8076923077vw , 2.5rem )) or (column-gap: clamp( 1.25rem , -1.8269230769rem  +  4.8076923077vw , 2.5rem ))) {
  .nav-menu {
    -webkit-column-gap: clamp( 1.25rem , -1.8269230769rem  +  4.8076923077vw , 2.5rem );
       -moz-column-gap: clamp( 1.25rem , -1.8269230769rem  +  4.8076923077vw , 2.5rem );
            column-gap: clamp( 1.25rem , -1.8269230769rem  +  4.8076923077vw , 2.5rem );
  }
}

@supports not ((-moz-column-gap: clamp( 1.25rem , -1.8269230769rem  +  4.8076923077vw , 2.5rem )) or (column-gap: clamp( 1.25rem , -1.8269230769rem  +  4.8076923077vw , 2.5rem ))) {
  .nav-menu {
    -webkit-column-gap: calc(1.25rem + 1.25 * (100vw - 64rem) / 26);
       -moz-column-gap: calc(1.25rem + 1.25 * (100vw - 64rem) / 26);
            column-gap: calc(1.25rem + 1.25 * (100vw - 64rem) / 26);
  }
}

.btn-sub-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 2px;
  color: var(--blue-600, #3257A0);
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 120%;
}

@supports (font-size: clamp( 0.875rem , 0.375rem  +  0.78125vw , 1rem )) {
  .btn-sub-menu {
    font-size: clamp( 0.875rem , 0.375rem  +  0.78125vw , 1rem );
  }
}

@supports not (font-size: clamp( 0.875rem , 0.375rem  +  0.78125vw , 1rem )) {
  .btn-sub-menu {
    font-size: calc(0.875rem + 0.125 * (100vw - 64rem) / 16);
  }
}

.btn-sub-menu svg {
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}

.btn-sub-menu:hover svg {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}

.svg-mb {
  display: none;
}

.svg-right {
  position: absolute;
  opacity: 0;
  left: 0;
  top: 50%;
  -webkit-transform: translate(0, -50%) !important;
      -ms-transform: translate(0, -50%) !important;
          transform: translate(0, -50%) !important;
}

.menu-item-has-children:hover .btn-sub-menu svg {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}

.sub-menu-wrap {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  top: calc(100% - 15px);
  left: -40px;
  padding-top: 28.5px;
}

.sub-menu {
  background: var(--white, #FFF);
  -webkit-box-shadow: 0px 90px 100px 0px rgba(16, 42, 83, 0.12);
          box-shadow: 0px 90px 100px 0px rgba(16, 42, 83, 0.12);
  padding: 28px 40px;
  padding-right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 24px;
  color: var(--grey-900, #212529);
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 120%;
  /* 19.2px */
}

@supports (font-size: clamp( 0.875rem , 0.375rem  +  0.78125vw , 1rem )) {
  .sub-menu {
    font-size: clamp( 0.875rem , 0.375rem  +  0.78125vw , 1rem );
  }
}

@supports not (font-size: clamp( 0.875rem , 0.375rem  +  0.78125vw , 1rem )) {
  .sub-menu {
    font-size: calc(0.875rem + 0.125 * (100vw - 64rem) / 16);
  }
}

@supports (gap: clamp( 1.0625rem , -0.6875rem  +  2.734375vw , 1.5rem )) {
  .sub-menu {
    gap: clamp( 1.0625rem , -0.6875rem  +  2.734375vw , 1.5rem );
  }
}

@supports not (gap: clamp( 1.0625rem , -0.6875rem  +  2.734375vw , 1.5rem )) {
  .sub-menu {
    gap: calc(1.0625rem + 0.4375 * (100vw - 64rem) / 16);
  }
}

.btn-sub-menu:hover ~ .sub-menu-wrap {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.sub-menu-wrap.active {
  top: 52px;
  padding-top: 0;
  width: 100vw;
  left: -15px;
}

.sub-menu-wrap {
  display: none;
}

.sub-menu-wrap:hover {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.item-dropdown-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-width: 100%;
}

.item-dropdown-wrap.active .btn-dropdown svg {
  opacity: 1;
}

.item-dropdown-wrap.active .btn-dropdown {
  color: var(--carmine-500, #98001C);
}

.item-dropdown-wrap:hover ~ .sub-menu-dropdown {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.btn-dropdown {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
  font-weight: 600;
  max-width: 244px;
  text-align: left;
  position: relative;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.btn-dropdown:hover {
  color: var(--carmine-500, #98001C);
}

.btn-dropdown svg {
  opacity: 0;
  -webkit-transition: 0.1s;
  -o-transition: 0.1s;
  transition: 0.1s;
  min-width: 20px;
}

.btn-dropdown:hover svg {
  opacity: 1;
}

.sub-menu-dropdown {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 24px;
  padding-left: 40px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  border-left: 1px solid var(--grey-300, #DEE2E6);
  color: var(--grey-700, #495057);
}

@supports (font-size: clamp( 0.875rem , 0.375rem  +  0.78125vw , 1rem )) {
  .sub-menu-dropdown {
    font-size: clamp( 0.875rem , 0.375rem  +  0.78125vw , 1rem );
  }
}

@supports not (font-size: clamp( 0.875rem , 0.375rem  +  0.78125vw , 1rem )) {
  .sub-menu-dropdown {
    font-size: calc(0.875rem + 0.125 * (100vw - 64rem) / 16);
  }
}

@supports (gap: clamp( 1.0625rem , -0.6875rem  +  2.734375vw , 1.5rem )) {
  .sub-menu-dropdown {
    gap: clamp( 1.0625rem , -0.6875rem  +  2.734375vw , 1.5rem );
  }
}

@supports not (gap: clamp( 1.0625rem , -0.6875rem  +  2.734375vw , 1.5rem )) {
  .sub-menu-dropdown {
    gap: calc(1.0625rem + 0.4375 * (100vw - 64rem) / 16);
  }
}

.sub-menu-dropdown a:hover {
  color: var(--carmine-500, #98001C);
}

.item-dropdown-wrap:hover ~ .sub-menu-dropdown-wrap {
  opacity: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.sub-menu-dropdown-wrap {
  gap: 24px;
  position: absolute;
  left: calc(100% - 1px);
  min-width: 280px;
  padding: 28px 40px;
  padding-left: 0px;
  top: 29px;
  min-height: calc(100% - 29px);
  background-color: white;
  display: none;
  background: var(--white, #FFF);
  -webkit-box-shadow: 90px 90px 100px 0px rgba(16, 42, 83, 0.096);
          box-shadow: 90px 90px 100px 0px rgba(16, 42, 83, 0.096);
}

.sub-menu-dropdown-wrap:hover {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.item-dropwown-wrap {
  min-width: 244px;
}

.menu-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.menu-item a {
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}

.menu-item a:hover {
  color: var(--carmine-500, #98001C);
}

.item-block-menu {
  min-width: 244px;
}

.search-label {
  cursor: pointer;
  background-color: red;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.search-input::-ms-clear {
  display: none;
}

input[type=search]::-webkit-search-decoration,
input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-results-button,
input[type=search]::-webkit-search-results-decoration {
  display: none;
}

.search-input {
  position: absolute;
  width: 0;
  z-index: 2;
  background: var(--white, #FFF) url("../img/header/icon/search.svg") 40px 20px no-repeat;
}

.search-input:focus {
  outline: none;
  width: 100%;
  left: 0;
  top: 50%;
  -webkit-transform: translate(0, -50%);
      -ms-transform: translate(0, -50%);
          transform: translate(0, -50%);
  padding: 16px 40px;
  padding-left: 76px;
  border-left: 1px solid var(--grey-300, #DEE2E6);
  color: var(--grey-900, #212529);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
}

.btn-search-close {
  display: none;
}

.search-input:focus ~ .btn-search-close {
  display: block;
  position: absolute;
  right: 40px;
  top: 50%;
  -webkit-transform: translate(0, -50%);
      -ms-transform: translate(0, -50%);
          transform: translate(0, -50%);
  max-width: 24px;
  max-height: 24px;
  z-index: 3;
}

.search-result {
  display: none;
  padding: 28px 40px;
  position: absolute;
  top: calc(100% + 13.5px);
  left: 0;
  width: 100%;
  background: var(--white, #FFF);
  -webkit-box-shadow: 0px 90px 100px 0px rgba(16, 42, 83, 0.12);
          box-shadow: 0px 90px 100px 0px rgba(16, 42, 83, 0.12);
  max-height: 600px;
  overflow: hidden;
}

.search-result.active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  top: calc(100% + 16.5px);
  left: -15px;
}

.search-result__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow-y: hidden;
  max-height: 496px;
}

.search-result__content::after {
  content: "";
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  background-color: var(--grey-300, #DEE2E6);
  max-width: 672px;
  height: 1px;
}

.search-result__wrap {
  min-height: -webkit-max-content;
  min-height: -moz-max-content;
  min-height: max-content;
  overflow-y: scroll;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.search-result__wrap::-webkit-scrollbar {
  width: 4px;
  /* ширина всей полосы прокрутки */
}

.search-result__wrap::-webkit-scrollbar-track {
  /* цвет зоны отслеживания */
}

.search-result__wrap::-webkit-scrollbar-thumb {
  border-radius: 50px;
  background: var(--grey-300, #DEE2E6);
  height: 80px;
}

.search-result__amount {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 3px;
  color: var(--grey-900, #212529);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
  margin-bottom: 24px;
}

.search-result__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 40px;
  max-width: 672px;
}

h3 {
  color: var(--blue-500, #4665B2);
  font-size: 22px;
  font-style: normal;
  font-weight: 600;
  line-height: 140%;
  /* 30.8px */
  padding-bottom: 24px;
  border-bottom: 1px solid var(--grey-300, #DEE2E6);
}

@supports (font-size: clamp( 1.25rem , 0.75rem  +  0.78125vw , 1.375rem )) {
  h3 {
    font-size: clamp( 1.25rem , 0.75rem  +  0.78125vw , 1.375rem );
  }
}

@supports not (font-size: clamp( 1.25rem , 0.75rem  +  0.78125vw , 1.375rem )) {
  h3 {
    font-size: calc(1.25rem + 0.125 * (100vw - 64rem) / 16);
  }
}

.search-result__item:last-child {
  padding-bottom: 24px;
}

.search-result__item {
  color: var(--grey-900, #212529);
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 140%;
  /* 28px */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 24px;
}

@supports (font-size: clamp( 1.125rem , 0.625rem  +  0.78125vw , 1.25rem )) {
  .search-result__item {
    font-size: clamp( 1.125rem , 0.625rem  +  0.78125vw , 1.25rem );
  }
}

@supports not (font-size: clamp( 1.125rem , 0.625rem  +  0.78125vw , 1.25rem )) {
  .search-result__item {
    font-size: calc(1.125rem + 0.125 * (100vw - 64rem) / 16);
  }
}

.search-result__item ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 24px;
}

.search-result__item a {
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}

.search-result__item a:hover {
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
  color: var(--red-500, #98001C);
}

.block-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 347px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.search-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 20px;
  height: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

.btn-consultation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 16px 20px;
  border-radius: 62px;
  background: var(--madison-800, #033270);
  color: var(--white, #FFF);
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 120%;
  padding: 16px 20px;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
  min-width: -webkit-max-content;
  min-width: -moz-max-content;
  min-width: max-content;
}

@supports (font-size: clamp( 0.75rem , 0.4650817236rem  +  0.5943536404vw , 1rem )) {
  .btn-consultation {
    font-size: clamp( 0.75rem , 0.4650817236rem  +  0.5943536404vw , 1rem );
  }
}

@supports not (font-size: clamp( 0.75rem , 0.4650817236rem  +  0.5943536404vw , 1rem )) {
  .btn-consultation {
    font-size: calc(0.75rem + 0.25 * (100vw - 47.9375rem) / 42.0625);
  }
}

.btn-consultation-mb {
  display: none;
}

.tel-mb {
  display: none;
}

.btn-sub-menu.active {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 50%;
}

.btn-sub-menu span {
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  position: static;
}

.btn-sub-menu.active span {
  -webkit-transform: translate(-50%, 0);
      -ms-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
}

.btn-sub-menu.active .svg-right {
  opacity: 1;
}

.btn-sub-menu.active .svg-left {
  opacity: 0;
}

.menu-mb__footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 40px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  padding-bottom: 25px;
}

.header__top-language ul {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: var(--grey-600, #868E96);
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 120%;
  /* 19.2px */
}

@media (max-width: 1280px) {
  [class*=__container] {
    padding: 0 15px;
  }

  .header__top-connection-language {
    gap: 30px;
  }

  .header__top-connection ul {
    gap: 30px;
  }

  .block-logo-mb {
    margin-right: 30px;
  }

  .search-input {
    background: var(--white, #FFF) url("../img/header/icon/search.svg") 15px 19px no-repeat;
  }

  .search-input:focus {
    padding-left: 45px;
    padding-right: 17px;
  }

  .search-input:focus ~ .btn-search-close {
    right: 20px;
  }
}

@media (max-width: 1050px) {
  .block-menu {
    max-width: 57%;
  }

  .btn-consultation {
    padding: 14px 18px;
  }
}

@media (max-width: 1024px) {
  .block-logo-mb {
    margin-right: 0px;
  }
}

@media (max-width: 991.98px) {
  .menu-mb {
    max-width: 50vw !important;
  }

  .main-navigation {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .burger {
    display: block;
    min-width: 24px;
    height: 24px;
    position: relative;
  }

  .menu-main-menu-container {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
    position: relative;
  }

  .menu-mb__header {
    margin-bottom: 40px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 8px;
  }

  .btn-close-menu {
    display: block;
    width: 25px;
    height: 25px;
  }

  .menu-mb {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: absolute;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    right: -100%;
    top: 0px;
    padding: 15px;
    padding-bottom: 30px;
    min-width: 50%;
    background-color: white;
    z-index: 11;
    padding-top: 0;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
    max-width: 50vw;
  }

  .menu-mb__header-logo .logo {
    display: block;
  }

  .block-menu {
    max-width: 100%;
    margin-right: 24px;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    padding-right: 24px;
    border-right: 1px solid var(--grey-300, #DEE2E6);
  }

  .menu-item-has-children {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
    min-width: 100%;
  }

  .btn-sub-menu {
    gap: 8px;
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
  }

  .btn-sub-menu:hover svg {
    -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
            transform: rotate(0deg);
  }

  .svg-mb {
    display: block;
  }

  .menu-item-has-children {
    position: relative;
  }

  .menu-item-has-children:hover .btn-sub-menu svg {
    -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
            transform: rotate(0deg);
  }

  .sub-menu-wrap {
    top: 52px;
    padding-top: 0;
    width: 100vw;
    right: -100vw;
    left: 100vw;
    -webkit-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s;
  }

  .sub-menu {
    padding: 24px 32px;
    height: 100vh;
    -webkit-box-shadow: 0px 0px 0px 0px rgba(16, 42, 83, 0.12);
            box-shadow: 0px 0px 0px 0px rgba(16, 42, 83, 0.12);
  }

  .btn-dropdown {
    max-width: -webkit-max-content;
    max-width: -moz-max-content;
    max-width: max-content;
  }

  .search-input:focus {
    padding: 15px 40px;
    border-left: 0px solid var(--grey-300, #DEE2E6);
  }

  .btn-consultation {
    text-align: center;
    font-size: 16px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .header__top-info {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }

  .nav-menu {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 24px;
    color: #212529;
    font-size: 20px;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    font-weight: 600;
    line-height: 140%;
    /* 28px */
  }

  .btn-sub-menu {
    color: #3257A0;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 140%;
    /* 28px */
    max-width: -webkit-max-content;
    max-width: -moz-max-content;
    max-width: max-content;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    min-width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .menu-mb__main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: relative;
    min-height: -webkit-max-content;
    min-height: -moz-max-content;
    min-height: max-content;
  }

  .svg-pc {
    display: none;
  }

  .menu-mb__main {
    margin-bottom: 40px;
    position: relative;
  }
}

@media (max-width: 767.98px) {
  .burger {
    min-width: 18px;
    height: 24px;
  }

  .menu-main-menu-container {
    padding: 15.5px 0;
  }

  .menu-mb {
    min-width: 100vw;
  }

  .block-logo-mb {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }

  .block-search {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }

  .block-menu {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }

  .search-input {
    background: var(--white, #FFF) url("../img/header/icon/search.svg") 15px 19px no-repeat;
  }

  .search-input:focus {
    padding: 15px 40px;
    left: -15px;
    width: 100vw;
  }

  .search-input:focus ~ .btn-search-close {
    right: -40px;
  }

  .btn-search-close svg path {
    fill: #033270;
  }

  .search-result {
    top: calc(100% + 16.5px);
    padding: 28px 15px;
    left: -15px;
    width: 100vw;
  }

  .search-result.active {
    width: 100vw;
  }

  .search-result__amount {
    font-size: 12px;
    line-height: 140%;
  }

  .search-result__items {
    gap: 24px;
  }

  h3 {
    padding-bottom: 16px;
  }

  .search-result__item {
    gap: 16px;
    font-size: 16px;
  }

  .search-result__item ul {
    gap: 16px;
  }
}

@media (max-width: 650px) {
  .header__top-content {
    padding: 8px 0;
  }

  .header__top-language {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }

  .menu-mb__wrap {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
    overflow-y: scroll;
    overflow-x: hidden;
    padding-right: 15px;
    padding-left: 15px;
    max-height: -webkit-min-content;
    max-height: -moz-min-content;
    max-height: min-content;
  }

  .menu-mb {
    height: 100vh;
    overflow: hidden !important;
    padding-bottom: 0px !important;
    padding-top: 0px !important;
    padding-right: 0px !important;
    position: 0px !important;
  }

  .menu-mb {
    padding-left: 0px;
  }

  .search-result {
    max-height: calc(100vh - 113px);
    height: calc(100vh - 113px);
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
    padding-bottom: 0px;
  }

  .search-result__content {
    max-height: calc(100vh - 113px);
  }

  .search-result__items {
    max-width: calc(100vw - 55px);
  }

  .btn-consultation-mb {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 12px 16px;
    color: var(--white, #FFF);
    text-align: center;
    font-size: 12px;
    font-weight: 600;
    line-height: 120%;
    /* 14.4px */
  }

  .tel-mb {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 8px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    color: var(--grey-900, #212529);
    font-family: Manrope;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
    /* 16.8px */
  }

  .header__top-help {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
    margin-top: 24px;
  }

  .btn-help {
    padding: 10px 16px;
    color: var(--blue-400, #6079C5);
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 120%;
    /* 19.2px */
    max-width: -webkit-max-content;
    max-width: -moz-max-content;
    max-width: max-content;
  }

  .header__top-connection {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }

  .header__top-connection ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 21px;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    color: var(--grey-900, #212529);
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 120%;
    /* 19.2px */
  }

  .header__top-connection ul li a svg {
    width: 24px;
    height: 24px;
  }

  .btn-consultation {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }

  .header__top-language {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }
}

@media (max-width: 360px) {
  .menu-mb {
    right: calc(-100vw - 70px);
  }

  .btn-consultation-mb {
    font-size: 11px;
  }

  .tel-mb {
    font-size: 11px;
  }
}